Package: vifros
Version: #VERSION#
Section: net
Priority: optional
Architecture: all
Depends: nodejs (>= 0.8), nodejs-legacy, iproute, iptables, ipset, mongodb, adduser
Maintainer: Diosney <diosney.s@gmail.com>
Description: Manage your router by software solution
 virtual Firewall/Routing OS let you convert a regular PC into a
 full fledged router by software by standing in the shoulders of
 giants like the iproute and netfilter suites.
Homepage: https://github.com/vifros/vifros
